.explore{
    padding-top: 15px;
    background-color: rgb(243, 235, 235);
    text-align: center;
    color: rgb(145, 139, 139);
    height: 450px;
}
.explore_cards{
    padding-left: 90px;
    padding-right: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card{
    font-size: 0.8rem;
    margin: 20px;
    padding: 15px;
    display: flex;
    background-color: #fff;
    box-shadow: gray;
    text-align: left;
    
}
.card_img{
    margin-right: 15px;
    height: 70px;
}
.card >h2:hover{
    color: lightblue;
    cursor: pointer;
}