.header{
    margin-bottom: 30px;
}
.header_image{
    height: 450px;
    width: 100%;
    object-fit: cover;
}
.marley_logo{
    padding-top: 50px;
    width: 333px;
    
}
.header_info{
    text-align: center;
}

.header_info>h1{
    font-size: 1rem;
}
#main2{
    display: grid;
    padding-left: 35px;
    padding: 0;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 450px;
    background-size: cover;
}
.main_info2{
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 450px;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
    padding-left: 35px;
}

#main3{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-image: url('https://media.edapp.com/image/upload/v1591158040/edapp.com/case%20studies/Marley%20spoon/pinkBackground.jpg');
}
.container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-image: url('https://media.edapp.com/image/upload/v1591153454/edapp.com/case%20studies/Marley%20spoon/yellowBackground.jpg');
}
.top_text{
    padding-right: 25%;
    padding-left: 25%;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main_info{
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 450px;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
    padding-right: 35px;
}
.hr{
    width: 20%;
}
.video_container{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.spoon_img{
    width: 600px;
    height: 400px;
}
.spoon_container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quote{
    font-size:20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-weight: lighter;
    max-width: 400px;
}
.phone_container{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.phone_text{
    width: 450px;
}
.phone_image{
    width: 30%;
    height: 30%;
}
.quote_container{
    display: flex;
    justify-content: center;
    width: 100%;
}